node-red/flows-individual/flows (1).json
[
    {
        "id": "esp32_tab",
        "type": "tab",
        "label": "ESP32 Sensor Monitor",
        "disabled": false,
        "info": ""
    },
    {
        "id": "mqtt_in_esp32",
        "type": "mqtt in",
        "z": "esp32_tab",
        "name": "ESP32 Data",
        "topic": "<H00518884>/evt/status/fmt/json",
        "qos": "0",
        "datatype": "json",
        "broker": "713607d6d8fda046",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 120,
        "wires": [
            [
                "extract_temp",
                "extract_humid",
                "debug_raw",
                "d3b98eedcb62f6bb"
            ]
        ]
    },
    {
        "id": "extract_temp",
        "type": "function",
        "z": "esp32_tab",
        "name": "Extract Temperature",
        "func": "// Extract temperature from nested d object\nmsg.payload = msg.payload.d.temp;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 80,
        "wires": [
            [
                "gauge_temp",
                "debug_temp",
                "text_temp",
                "58b3cd247c2c515a"
            ]
        ]
    },
    {
        "id": "extract_humid",
        "type": "function",
        "z": "esp32_tab",
        "name": "Extract Humidity",
        "func": "// Extract humidity from nested d object\nmsg.payload = msg.payload.d.humidity;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 260,
        "wires": [
            [
                "gauge_humid",
                "debug_humid",
                "text_humid",
                "16917e36d131f076"
            ]
        ]
    },
    {
        "id": "gauge_temp",
        "type": "ui_gauge",
        "z": "esp32_tab",
        "name": "Temperature Gauge",
        "group": "sensor_group",
        "order": 1,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#0080ff",
            "#00ff00",
            "#ff0000"
        ],
        "seg1": "10",
        "seg2": "30",
        "diff": false,
        "className": "",
        "x": 590,
        "y": 60,
        "wires": []
    },
    {
        "id": "gauge_humid",
        "type": "ui_gauge",
        "z": "esp32_tab",
        "name": "Humidity Gauge",
        "group": "sensor_group",
        "order": 2,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ff8000",
            "#00b4ff",
            "#0080ff"
        ],
        "seg1": "30",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 620,
        "y": 300,
        "wires": []
    },
    {
        "id": "debug_raw",
        "type": "debug",
        "z": "esp32_tab",
        "name": "Raw Data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 460,
        "wires": []
    },
    {
        "id": "debug_temp",
        "type": "debug",
        "z": "esp32_tab",
        "name": "Temperature Value",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 100,
        "wires": []
    },
    {
        "id": "debug_humid",
        "type": "debug",
        "z": "esp32_tab",
        "name": "Humidity Value",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 340,
        "wires": []
    },
    {
        "id": "text_temp",
        "type": "ui_text",
        "z": "esp32_tab",
        "group": "sensor_group",
        "order": 3,
        "width": "5",
        "height": "1",
        "name": "Temperature Text",
        "label": "Current Temp:",
        "format": "{{msg.payload}} °C",
        "layout": "row-right",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 590,
        "y": 140,
        "wires": []
    },
    {
        "id": "text_humid",
        "type": "ui_text",
        "z": "esp32_tab",
        "group": "sensor_group",
        "order": 4,
        "width": "6",
        "height": "1",
        "name": "Humidity Text",
        "label": "Current Humidity:",
        "format": "{{msg.payload}} %",
        "layout": "row-right",
        "className": "",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "",
        "color": "#000000",
        "x": 580,
        "y": 380,
        "wires": []
    },
    {
        "id": "16917e36d131f076",
        "type": "ui_chart",
        "z": "esp32_tab",
        "name": "",
        "group": "sensor_group",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Humidity Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "DHT Humidity",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 620,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "58b3cd247c2c515a",
        "type": "ui_chart",
        "z": "esp32_tab",
        "name": "",
        "group": "sensor_group",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Temperature chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "DHT Temperature",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "d3b98eedcb62f6bb",
        "type": "switch",
        "z": "esp32_tab",
        "name": "Warn on High Values",
        "property": "payload.d.temp",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "30",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 580,
        "y": 180,
        "wires": [
            [
                "69779779347a8380"
            ]
        ]
    },
    {
        "id": "69779779347a8380",
        "type": "template",
        "z": "esp32_tab",
        "name": "Alert Msg",
        "field": "payload.d.temp",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "plain",
        "template": "Alert : Critical Value Detected {{payload.d.temp}} !",
        "output": "str",
        "x": 800,
        "y": 180,
        "wires": [
            [
                "eb07c98cfdc036d5"
            ]
        ]
    },
    {
        "id": "eb07c98cfdc036d5",
        "type": "ui_toast",
        "z": "esp32_tab",
        "position": "top left",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "Show notfication",
        "x": 1000,
        "y": 180,
        "wires": []
    },
    {
        "id": "713607d6d8fda046",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "sensor_group",
        "type": "ui_group",
        "name": "ESP32 Sensor Readings",
        "tab": "sensor_tab",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "sensor_tab",
        "type": "ui_tab",
        "name": "ESP32 Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
